:root {
    --mainRGB:rgb(35, 35, 60);
    --orange:rgb(218, 157, 44);
    --white: #fff;
    --red: crimson;
    --green: rgb(69, 215, 69);
}
body{
    margin: 0;
    box-sizing: border-box;
    font-family:  "Roboto", "Oxygen", "Ubuntu", "Cantarell", 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    background-color: var(--mainRGB);
    color: rgb(211, 211, 211);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.mainHeading,h2 {
font-size: 2.5rem;
padding: 2rem 1rem;
flex: 1 1 0%;
color: var(--orange);
margin: 20px auto;
width: max-content;
max-width: 1100px;
}
.mainHeading{
    text-transform: uppercase;
}
form {
    display: flex;
    justify-content: center;
}
input,button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
#titleOfApp{
    flex: 1 1 0%;
    margin: 1rem;
    padding: 0.8rem; 
    background-color: var(--white);
    font-size: 1.25rem;
    border-radius: 1rem;
    max-width: 80%;
}
#titleOfApp::placeholder {
color: var(--mainRGB);
}
#add {
    color: var(--orange);
    background-image: linear-gradient(to right, var(--white),var(--orange));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.25rem;
    cursor: pointer;
    transition: 0.4s;
}
.taskList {
    width: 80%;
    font-size: 1.5rem;
    margin: 0.8rem;
    background-color: white;
    border-radius: 1rem;
}
.taskList input {
    font-size: 1.25rem;
    color: var(--mainRGB);
}
.taskContainer{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--white);
    border-radius: 2rem;
    width: 80%;
    max-width: 90%;
    margin: 20px auto;
}
.editDelete {
    display: flex;
}
/* .edit,
.delete {
    color: var(--orange);
    font-size: 1.25rem;
    cursor: pointer;
    padding: 0 20px;
    border-radius: 1rem;
} */
.mainTaskContainer{
    display: flex;
    flex-direction: column;
}
.edit{
    color: var(--green);
    font-size: 1.15rem;
    cursor: pointer;
    transition: 0.4s;
}
.delete {
    color: var(--red);
    font-size: 1.15rem;
    cursor: pointer;
    transition: 0.4s;
}